.App {
  text-align: center;
  min-height: 100vh;
  background-size: cover;
}


.dialog-link {
  display: block;
  margin-bottom: 5px; /* Add some vertical spacing between the links */
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Set the color of the links */
}

.dialog-box {
  background-color: rgba(240, 248, 255, 0.394);
  margin-left: auto; /* Adjust the spacing to move it to the right */
  padding: 10px; /* Add padding for better appearance */
}


.background-chips {
  background-color: rgb(112, 135, 211);
  min-height: 100vh;
}

.sardines-background{
  background-image: url('../public/sardines.jpg');
  min-height: 100vh;
  background-size: cover;
}

.background-soda{
  background-image: url('../public/soda.jpg');
  min-height: 100vh;
  background-size: cover;
}

.chip{  
  background-image:url('../public/chips.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 0vh;
  min-height: 10vh;
  
}

button{
  margin: 40px; /* Add padding for better appearance */
}